<template>
<div>
  <div v-if="!isFetched">Test connexion vers l'api...</div>
  <div v-else>
    <div v-if="successfulConnection">
      <h2> L'api fonctionne </h2>
    </div>
    <div v-else>
      L'api ne fonctionne pas: {{ errorMessage }}
    </div>
  </div>
</div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: 'HelloWorldPage',
  data() {
    return {
      isFetched: false,
      successfulConnection: false,
      errorMessage: ''
    }
  },
  async mounted () {
    const result = await this.$axios.get('/hello-world')
    this.successfulConnection = result.status === 200
    if (result.status !== 200) {
      this.errorMessage = result.data
    }
    this.isFetched = true
  }
})
</script>
